body {
  background: #f0f2f5;
}

.logo {
  width: 6em;
  height: 31px;
  color: white;
  font-size: 40px;
  margin: 16px 24px 16px 0 auto;
  float: left;
}

.content-page {
  padding: 2em 0;
  background: #fff;
  margin-top: 3em;
}

.content {
  padding: 0 2em;
  min-height: 280px;
}
