body {
  background: #f0f2f5;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.content-page {
  padding: 2em 0;
  background: #fff;
  margin-top: 3em;
}

.content {
  padding: 0 2em;
  min-height: 280px;
}
